source .venv/bin/activate
export litecli_configs="./litecli-configs"
export selected_config="default_db_config"
export litecli_config_path="$litecli_configs/$selected_config"

# NOTE: The line below has nothing to do with `direnv`
# This is simply to tell Neovim to treat this a bash file, 
# .envrc is not a recognized file type.
# vi: ft=bash
