# WARNING: NEVER add any private keys to this file!!!
# Even if you are testing or developing!!!!

# NOTE: For environment variables that are safe to share please make sure
# that these are saved to the `.env` file instead. 
# This file is only for loading the Python virtual environment

source .venv/bin/activate
