# Activate the Python virtual environment to ensure that this project is
# using the correct version of Python,
# and also that it using the version installed by `uv` and not the version
# of Python that is installed system-wide
source .venv/bin/activate

# The location of the configuration file the `pgcli` tool in this project
export pgcli_config="./.pgcli_config"

# The line below has nothing to do with `direnv`
# This is simply to tell Neovim to treat this a bash file, 
# .envrc is not a recognized file type.
# vi: ft=bash
